body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

header {
    background: #1f2937;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: #1f2937;
    color: #e5e7eb;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
}

.instruction {
    font-size: 20px;
    font-weight: 900;
}

.choice-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    justify-content: center;
}

.choice-sub-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    background: blue;
}

.choice-sub-container img {
    width: 120px;
    border-radius: 16px;
}

.choice-sub-container button {
    /*background: #3882f6;
    color: white;
    border-color: #e5e7eb;*/
    border-radius: 8px;
    font-size: 20px;
    min-width: 220px;
    max-height: 36px;
    padding: 4px 16px;
    border-style: solid;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
}

.result-sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#player-div, #computer-div {
    flex: 1;
}

#result-line1 {
    font-size: 30px;
    font-weight: 900;
}

#result-line2, #result-line3 {
    font-size: 55px;
    font-weight: 800;
}